<p id="notice"><%= notice %></p>

<h1>Feeds</h1>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feeds.each do |feed| %>
      <tr>
        <td><%= image_tag feed.image.thumb.url if feed.image && feed.image.url %></td>
        <td><%= feed.user.name %></td>
        <td><%= feed.content %></td>
        <td><%= link_to 'Show', feed %></td>
        <% if feed.user_id == current_user.id && current_user != nil%>
          <td><%= link_to 'Edit', edit_feed_path(feed) %></td>
          <td><%= link_to 'Destroy', feed, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Feed', new_feed_path %>
<%= link_to 'user', users_path %>
