<!DOCTYPE html>
<html>
  <head>
    <title>Rika</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>

      <div class="container">
        <%= breadcrumbs pretext: "You are here: ", separator: " &rsaquo; " %>
        <div class="item"><a href="/users" class="btn login">ユーザー一覧</a></div>
        <div class="item"><a href="/feeds" class="btn signup">画像一覧</a></div>
        <div class="item"><a href="/feeds/new" class="btn login">画像投稿</a></div>
        <!-- <div class="item"><a href="/sessions/new">ログイン</a></div> -->
        <div class="item"><a href="/favorites" class="btn login"">お気に入りした画像一覧</a></div>
      </div>
    </header>
    <% flash.each do |key, value| %>
      <%= content_tag(:div, value, class: "#{key}") %>
    <% end %>

    <% if logged_in? %>
      <%= link_to "Profile", user_path(current_user.id) %>
      <%= link_to "Logout", session_path(current_user.id), method: :delete %>
    <% else %>
      <%= link_to "Sign up", new_user_path %>
      <%= link_to "Login", new_session_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
